
@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.ttf') format('truetype');
    font-style: italic;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Lato';
}

a, p, li{
    font-family: 'Raleway';
}

header, main, footer{
    width: 1160px;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #17abb3;
    padding: 30px 0px;
    text-align: center;
    color: white;
}

header img:nth-of-type(1){
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid white;
}

header img:first-of-type:hover{
    cursor: zoom-in;
}

header h1{
    margin: 0px;
}

header h2{
    margin-top: 5px;
}

header > div:first-of-type{
    width: 30%;
}

header > div:last-of-type{
    width: 70%;
}

header > div:last-of-type img{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: initial;
    border: initial;
    filter: invert(100%);
}

header a{
    display: block;
    color: white;
    text-decoration: none;
}

header > div:last-of-type > div{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, auto);
    width: max-content;
}

header > div:last-of-type > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

main{
    display: flex;
    flex-direction: row;
}

main h3{
    color: #17abb3;
}

main > section{
    padding: 20px 40px;
}

main > section > article:not(article:first-of-type){
    margin-top: 30px;
}

/* SECTION DE GAUCHE */

main > section:first-of-type{
    width: 30%;
    background-color: #e3e3e3;
}

main > section:first-of-type img{
    display: block;
    width: 20px;
    height: 20px;
    filter: invert(63%) sepia(50%) saturate(5836%) hue-rotate(147deg) brightness(97%) contrast(82%);
}

main > section:first-of-type > article div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0px;
}

main > section:first-of-type > article:not(article:first-of-type) div{
    margin: 12px 0px;
}

main > section:first-of-type > article div p:nth-of-type(1){
    font-weight: bold;
}

main > section:first-of-type > article div p{
    margin: 0px;
}

main > section:first-of-type ul{
    padding-left: 0px;
    list-style: none;
    
}

main > section:first-of-type li::before{
    content: "￭ ";
    color: #17abb3;
    margin-right: 5px;
}

main > section:first-of-type li{
    margin-bottom: 7px;
}

/* FIN SECTION DE GAUCHE */
/* SECTION DE DROITE */

main > section:last-of-type{
    width: 70%;
}

main > section:last-of-type div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

main > section:last-of-type div:hover{
    border-left: 3px solid #17abb3;
    background-color: #e3e3e3;
    padding: 10px;
}

main > section:last-of-type article:first-of-type p{
    text-indent: 40px;
    text-align: justify;
}

main > section:last-of-type div p{
    margin: 0px;
}

main > section:last-of-type div p:nth-of-type(1){
    font-weight: bold;
}

main > section:last-of-type div p:nth-of-type(2){
    color: #17abb3;
}

main > section:last-of-type div p:last-of-type{
    width: 100%;
    font-size: 0.8em;
    font-style: italic;
}

/* FIN SECTION DE DROITE */

footer{
    background-color: #17abb3;
    padding: 12px 0px;
}

footer > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer img{
    display: block;
    filter: invert(100%);
    width: 24px;
    height: 24px;
    margin: 0px 10px;
}

footer img:hover{
    opacity: 0.7;
}

footer > p{
    font-style: italic;
    color: white;
    text-align: center;
}